<div class="navbar" [class.navbar--push]="appLayoutQuery.pushNavbar$ | async">
  <div class="navbar__content">
    <p class="navbar__title">
      <span class="text-thin">FACULTAD DE</span><br />
      <b>GESTIÓN Y</b><br />
      <b>ALTA DIRECCIÓN</b>
    </p>
    <input
      class="hide menu-open-ckb"
      type="checkbox"
      id="menu-open-ckb"
      [ngModel]="appLayoutQuery.showMobileNavbar$ | async"
      (ngModelChange)="appLayoutService.setShowMobileNavbar($event)"
    />
    <label for="menu-open-ckb">
      <div class="navbar__menu-open" alt=""></div>
    </label>
    <ul class="navbar__menu-area" id="navbar__menu-area">
      <li
        class="navbar__menu"
        *ngFor="let menu of menus$ | async; let i = index"
      >
        <input
          class="hide submenu-open-ckb"
          type="checkbox"
          [id]="'submenu-open-ckb-' + i"
        />
        <a href="javascript:;">
          <label [for]="'submenu-open-ckb-' + i">
            <div>
              <span
                [routerLink]="'/estadisticas/' + menu.codigo"
                [routerLinkActive]="'active'"
                [innerHTML]="menu.textoMenu"
                (click)="appLayoutService.setShowMobileNavbar(false)"
              ></span>
            </div>
            <img
              src="/assets/images/icons/icon_chevron_down.png"
              alt=""
              *ngIf="menu.subMenus?.length > 0"
            />
          </label>
        </a>
        <ng-container *ngIf="menu.subMenus?.length > 0">
          <div class="navbar__submenu">
            <ul>
              <li *ngFor="let submenu of menu.subMenus">
                <a
                  href="javascript:;"
                  [innerHTML]="submenu.textoMenu"
                  [routerLink]="
                    '/estadisticas/' + menu.codigo + '/' + submenu.codigo
                  "
                  (click)="appLayoutService.setShowMobileNavbar(false)"
                ></a>
              </li>
            </ul>
          </div>
        </ng-container>
        <div class="navbar__menu__divider"></div>
      </li>
      <!-- <li>
        <app-session-button></app-session-button>
      </li> -->
    </ul>
  </div>
</div>
