@import "../../../../styles/1-settings/index.scss";
@import "../../../../styles/2-tools/index.scss";

.navbar {
  background-color: $primary-color;
  color: #fff;
  height: $navbar-mobile-height;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 100;
  &__content {
    height: 100%;
    padding: 0 25px;
    position: relative;
    @include flex(row, space-between, center);
  }
  &__menu-area {
    background-color: $primary-color;
    display: none;
    left: 0;
    max-height: $navbar-mobile-menu-area-max-height;
    overflow: auto;
    padding: 10px 25px;
    position: absolute;
    right: 0;
    top: 100%;
  }
  &__menu {
    position: relative;
    a {
      display: block;
      padding: 15px 0;
      white-space: pre-line;
    }
    span {
      white-space: pre-line;
    }
    > a {
      text-align: left;
      white-space: normal;
      label {
        @include flex(row, flex-start, center);
        div {
          @include flexFlex(1);
        }
        img {
          width: 20px;
        }
      }
    }
    &__divider {
      background-color: #ffffff;
      height: 1px;
      width: 100%;
    }
  }
  &__submenu {
    background-color: #fff;
    color: $primary-color;
    display: none;
    text-transform: none;
    li {
      padding: 2px 12px;
      text-align: left;
      &:not(:last-child) {
        border-bottom: 1px solid $primary-color;
      }
      a {
        padding: 6px 0;
      }
    }
  }
  &__title {
    font-size: 0.9em;
    line-height: 1.2;
    text-align: left;
  }
  &__menu-open {
    height: 30px;
    width: 30px;
    background-image: url("/assets/images/icons/icon_menu.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .menu-open-ckb:checked ~ .navbar__menu-area {
    display: block;
  }
  .menu-open-ckb:checked ~ label {
    .navbar__menu-open {
      background-image: url("/assets/images/icons/icon_close.png");
    }
  }
  .submenu-open-ckb:checked {
    & ~ .navbar__submenu {
      display: block;
    }
    & ~ a {
      img {
        @include transform(rotate(180deg));
        @include transformOrigin(center);
      }
    }
  }
  @include device-md {
    background-color: $primary-color;
    height: $navbar-height;
    &:not(.navbar--push) {
      //  background-color: transparent;
      margin-bottom: -#{$navbar-height};
    }
    &__content {
      padding-top: 10px;
      margin: 0 auto;
      max-width: $navbar-content-max-width;
    }
    &__menu-area {
      background-color: transparent;
      height: 100%;
      max-height: none;
      overflow: visible;
      position: static;
      width: 100%;
      @include flex(row, space-around, center);
      li {
        cursor: pointer;
        text-align: center;
        a,
        span,
        p {
          cursor: pointer;
          display: block;
          font-size: 1em;
          line-height: 1.5;
          padding: 0;
        }
      }
    }
    &__menu {
      padding-bottom: 10px;
      position: relative;
      > a {
        text-align: center;
        white-space: pre-line;
        div span.active {
          color: $accent-color;
        }
        img {
          display: none;
        }
      }
      &__divider {
        display: none;
      }
    }
    &__submenu {
      background-color: #fff;
      border: 1px solid $border-color-soft;
      display: none;
      top: calc(100%);
      color: #000;
      font-size: 0.9em;
      left: 50%;
      position: absolute;
      text-transform: none;
      width: 200px;
      // @include borderRadius(8px);
      @include transform(translateX(-50%));
      ul {
        max-height: 65vh;
        overflow: auto;
      }
      li {
        text-align: left;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        &:hover {
          background-color: rgba(#000, 0.15);
        }
        a {
          padding-bottom: 10px;
          padding-top: 10px;
        }
      }
      &::after {
        content: "";
        border-style: solid;
        border-width: 0 6px 12px 6px;
        border-color: transparent transparent #ffffff transparent;
        height: 0;
        position: absolute;
        width: 0;
        top: -12px;
        left: 50%;
        @include transform(translateX(-50%));
      }
    }
    .submenu-open-ckb:checked {
      & ~ .navbar__submenu {
        display: none;
      }
    }
    &__menu {
      &:hover {
        .navbar__submenu {
          display: block !important;
        }
      }
    }
    &__title {
      display: none;
    }
    &__menu-open {
      display: none;
    }
  }
}
