<div class="menuSelect" *ngIf="show$ | async">
  <select
    name=""
    id=""
    class="fill-width"
    [formControl]="selectedSubmenu2CodeFC"
  >
    <option [ngValue]="null" disabled>Seleccione indicador</option>
    <ng-container *ngFor="let submenu of subTreeMenu$ | async">
      <option
        [ngValue]="submenu.codigo"
        *ngIf="submenu.subMenus.length === 0; else optionGroup"
      >
        {{ submenu.textoMenu }}
      </option>
      <ng-template #optionGroup>
        <optgroup [label]="submenu.textoMenu">
          <option
            [ngValue]="submenu.codigo + '/' + submenu2.codigo"
            *ngFor="let submenu2 of submenu.subMenus"
          >
            {{ submenu2.textoMenu }}
          </option>
        </optgroup>
      </ng-template>
    </ng-container>
  </select>
</div>
