<div class="min-page">
  <strategic-management-header></strategic-management-header>
  <strategic-management-navbar></strategic-management-navbar>
  <ng-content></ng-content>
</div>
<strategic-management-footer
  [contactInfo]="footerContactInfo"
></strategic-management-footer>
