@import "../../../../../styles/2-tools/index.scss";

ul {
  li:not(:last-child) {
    margin-bottom: 30px;
  }
}

.comiteMiembro {
  line-height: 1.3;
  img {
    // border: 3px solid #000;
    margin-right: 25px;
    width: 100px;
    // @include borderRadius(50%);
  }
  &__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
  }
  &__description {
    text-align: justify;
  }
}
