<ul class="mt-20">
    <li *ngFor="let miembro of comite$ | async ">
        <div class="comiteMiembro flex-row-layout">
            <img [src]="miembro.foto.url | prependBackendurl" alt="">
            <div>
                <h3 class="comiteMiembro__title">
                    {{ miembro.nombre }}
                </h3>
                <p class="comiteMiembro__description">
                    {{ miembro.descripcion }}
                </p>
            </div>
        </div>
    </li>
</ul>