:host {
  .spreadSheetChart {
    &__container {
      height: 300px;
      position: relative;
      overflow: hidden;
    }
  }
  ::ng-deep iframe {
    position: absolute;
    transform-origin: left top;
  }
}
