<ul class="mt-20">
  <li *ngFor="let documento of documents$ | async">
    <div class="comiteMiembro flex-row-layout">
      <a
        [target]="documento.documento ? '_blank' : '_self'"
        [href]="
          documento.documento
            ? (documento.documento.url | prependBackendurl)
            : sanitizer.bypassSecurityTrustResourceUrl('javascript:;')
        "
      >
        <img [src]="documento.foto.url | prependBackendurl" alt="" />
      </a>
      <div>
        <h3 class="comiteMiembro__title">
          {{ documento.nombre }}
        </h3>
        <p class="comiteMiembro__description">
          {{ documento.descripcion }}
        </p>
      </div>
    </div>
  </li>
</ul>
