@import "../../../../../styles/1-settings/index.scss";
@import "../../../../../styles/2-tools/index.scss";

select {
  background: transparent;
  border: none;
  padding-right: 20px !important;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select__chevron {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 18px;
  top: 50%;
  @include transform(translateY(-50%));
  @include filter2(brightness(0%));
}

.proyecto {
  &__imagen {
    width: 120px;
  }
  &__codigo {
    background-color: $primary-color;
    color: #fff;
    font-size: 1.1em;
    margin-right: 20px;
    white-space: nowrap;
    padding: 10px 12px;
  }
  &__nombre {
  }
  &__content {
    @include flex(column);
    @include device-md {
      @include flex(row);
    }
    div.proyecto__imagen {
      margin-top: 10px;
      @include alignSelf(center);
      @include device-md {
        margin-top: 0px;
        padding-left: 10px;
      }
    }
  }
}

.page__section__title {
  &::after {
    content: none;
  }
}
