<div class="page__section page__section--select p-0 py-15 px-10">
  <div class="flex-row-layout ai-center pos-relative">
    <img
      class="select__chevron"
      src="/assets/images/icons/icon_chevron_down.png"
      alt=""
    />
    <select [formControl]="proyectoFC" class="flex page__section fill-width">
      <option disabled [ngValue]="null">{{ selectPlaceholder }}</option>
      <option
        *ngFor="let proyecto of proyectos$ | async"
        [ngValue]="proyecto.id"
      >
        {{ proyecto.nombre }}
      </option>
    </select>
  </div>
</div>
<div
  class="page__section proyecto"
  #projectInfoSection
  *ngIf="activeProyecto$ | async as proyecto"
>
  <div class="page__section__title">
    <div class="flex-row-layout ai-center">
      <div class="proyecto__codigo">
        {{ proyecto.codigo }}
      </div>
      <div class="proyecto__name">
        {{ proyecto.nombre }}
      </div>
    </div>
  </div>
  <div class="page__section__content">
    <div class="proyecto__content flex-row-layout">
      <div
        class="flex p-0"
        [innerHTML]="proyecto.descripcion | htmlFromMarkup"
      ></div>
      <div
        class="proyecto__imagen text-center text-italic"
        *ngIf="proyecto.tipo !== 'estrategico:anual' && !!proyecto.imagen"
      >
        <img
          class="proyecto__imagen"
          [src]="proyecto.imagen?.url | prependBackendurl"
        />
        <a
          [href]="proyecto.resultados?.url | prependBackendurl"
          target="_blank"
        >
          Ver resultados
        </a>
      </div>
    </div>
    <div class="spacer-20"></div>
    <div
      class="flex-row-layout jc-flex-end"
      *ngIf="proyecto.tipo === 'estrategico:anual'"
    >
      <a
        [routerLink]="[avancesUrl]"
        [queryParams]="{ pId: proyecto.id }"
        class="text-italic"
        >Ver avance del proyecto</a
      >
    </div>
  </div>
</div>
