<div class="header">
  <div class="header__content">
    <!-- <a class="text-primary header__title" routerLink="/">
      FACULTAD DE<br />
      <b>GESTIÓN Y</b><br />
      <b>ALTA DIRECCIÓN</b>
    </a> -->
    <img src="/assets/images/logo.svg" alt="" routerLink="/" />
  </div>
</div>
