@import "../../../../styles/1-settings/globals.scss";
@import "../../../../styles/2-tools/index.scss";

.header {
  background-color: #fff;
  height: calc($header-mobile-height - 15px);
  padding: $header-mobile-padding;
  &__content {
    height: $header-mobile-content-height;
    margin: 0 auto;

    max-width: $header-content-max-width;
    // @include flex(row, center);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
    }
  }
  &__title {
    display: none;
    font-size: 1.1em;
    line-height: 1.2;
    letter-spacing: 0.6px;
  }
  @include device-md {
    height: calc($header-height - 15px);
    padding: $header-padding;
    &__content {
      height: $header-content-height;
      @include flex(row, center, center);
      img {
      }
    }
    &__title {
      display: block;
    }
  }
}
