@import "../../../../../styles/1-settings/colors.scss";

.fichaTecnicaModal {
  position: relative;
  width: 550px;
  &__close {
    cursor: pointer;
    width: 30px;
    -webkit-appearance: none;
  }
  table {
    font-size: 1.1em;
    tbody {
      tr {
        td {
          padding-bottom: 8px;
          padding-top: 8px;
        }
        td:first-child {
          padding-right: 30px;
          width: 0%;
          white-space: nowrap;
        }
        td:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  &::after {
    background-color: $primary-color;
    bottom: -10px;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    width: 55px;
  }
}
