<div class="fichaTecnicaModal" *ngIf="fichaTecnica; else fichaTecnicaEmpty">
  <div class="flex-row-layout jc-space-between ai-center">
    <h2 class="title">
      Ficha técnica
    </h2>

    <img
      [matDialogClose]
      class="fichaTecnicaModal__close"
      src="/assets/images/icons/icon_close_circular.svg"
      alt=""
    />
  </div>
  <div class="spacer-30"></div>
  <table class="fill-width">
    <tbody>
      <tr>
        <td>{{ fichaTecnicaNombreIndicadorLabel }}:</td>
        <td>{{ fichaTecnica.nombreIndicador }}</td>
      </tr>
      <tr>
        <td>{{ fichaTecnicaFormulaIndicadorLabel }}:</td>
        <td>{{ fichaTecnica.formulaIndicador }}</td>
      </tr>
      <tr>
        <td>{{ fichaTecnicaDescripcionLabel }}:</td>
        <td>{{ fichaTecnica.descripcion }}</td>
      </tr>
      <tr>
        <td>{{ fichaTecnicaUnidadMedidaLabel }}:</td>
        <td>{{ fichaTecnica.unidadMedida }}</td>
      </tr>
      <tr>
        <td>{{ fichaTecnicaFuenteLabel }}:</td>
        <td>{{ fichaTecnica.Fuente }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #fichaTecnicaEmpty>
  <h1 class="text-center">
    Sin ficha técnica relacionada
  </h1>
</ng-template>
