@import "../../../../styles/1-settings/colors.scss";
@import "../../../../styles/2-tools/index.scss";

.change-password-form {
  padding: 20px 0;
  position: relative;
  button {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  &__close {
    cursor: pointer;
    width: 20px;
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  form {
    margin: 0 auto;
  }
  @include device-md {
    padding: 0px;
    width: 450px;
    form {
      width: 320px;
    }
    &__close {
      width: 30px;
    }
  }
}
