<div class="change-password-form">
  <img
    [matDialogClose]
    class="change-password-form__close"
    src="/assets/images/icons/icon_close_circular.svg"
    alt="cerrar cambio de contraseña"
  />
  <div class="text-center">
    <h2 class="mb-15"><b>Cambiar contraseña</b></h2>
    <p>Ingrese su nueva contraseña</p>
  </div>
  <form class="mt-20" (submit)="handleSubmit()" [formGroup]="changePasswordFG">
    <div class="mb-20">
      <input
        class="fill-width"
        type="password"
        placeholder="Actual contraseña"
        formControlName="currentPassword"
      />
    </div>
    <div class="mb-20">
      <input
        class="fill-width"
        type="password"
        placeholder="Nueva contraseña"
        formControlName="newPassword"
      />
    </div>
    <div>
      <input
        class="fill-width"
        type="password"
        placeholder="Confirmar nueva contraseña"
        formControlName="confirmNewPassword"
      />
    </div>
    <div class="text-center mt-15">
      <button>
        Guardar
      </button>
    </div>
    <p class="text-center mt-10 text-warn">
      {{ error }}
    </p>
  </form>
</div>
