@import "../../../../styles/1-settings/index.scss";
@import "../../../../styles/2-tools/mixins/media.queries.scss";

.navbar-login {
  background-color: #fff;
  border-bottom: 1px $primary-color solid;
  color: $primary-color;
  margin-top: 15px;
  padding: 10px 15px;
  position: relative;
  width: 100%;
  span {
    margin-bottom: -2px;
  }
  img {
    width: 18px;
  }
  &__box {
    position: relative;
  }
  &__options {
    text-align: left;
    li {
      background-color: #fff;
      border-bottom: 1px $primary-color solid;
      color: $primary-color;
      padding: 10px 30px;
    }
  }
  @include device-md {
    margin-top: -15px;
    &__box {
      width: 180px;
    }
    &__options {
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
      text-align: right;
    }
  }
}
