<ng-container *ngIf="appSessionQuery.isLogged$ | async as isLogged; else loginButtonTpl">
  <div class="navbar-login__box">
    <button (click)="toggleAccountOptions()" class="navbar-login flex-row-layout ai-center">
      <img src="/assets/images/icons/icon_login.png" alt="" />
      <span>
        &nbsp;&nbsp;
      </span>
      <span> Bienvenido (a) </span>
      <span class="flex no-padding"></span>
      <img src="/assets/images/icons/icon_arrow_down_black.svg" height="16" alt="" />
    </button>
    <ul class="navbar-login__options" *ngIf="openAccountOptions">
      <li (click)="changePassword()">Cambiar contraseña</li>
      <li (click)="logout()">Cerrar sesión</li>
    </ul>
  </div>
</ng-container>
<ng-template #loginButtonTpl>
  <button class="navbar-login flex-row-layout jc-center ai-center" routerLink="/auth">
    <img src="/assets/images/icons/icon_lock.svg" alt="" />
    <span>
      &nbsp;&nbsp;INGRESAR
    </span>
  </button>
</ng-template>