@import "../../../../../styles/1-settings/index.scss";
@import "../../../../../styles/2-tools/index.scss";

::ng-deep .page {
  &__activatedSubmenuText {
    color: #aeafae;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__section {
    border: 1px solid transparent;
    font-size: 1.1em;
    padding: 30px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &.page__section--select {
      border-color: $border-color-soft;
    }
    &__title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 35px;
      position: relative;
      &::after {
        background-color: $primary-color;
        bottom: -10px;
        content: "";
        height: 6px;
        left: 0;
        position: absolute;
        width: 55px;
      }
    }
    &__content {
      line-height: 1.5;
      text-align: justify;
      white-space: pre-wrap;
    }
    &__image {
      img {
        display: block;
        margin: 0 auto 35px;
        width: 90%;
      }
    }
    .notFoundChart {
      border: 1px solid $border-color-soft;
      height: 400px;
      width: 100%;
      position: relative;
      img {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
      }
    }
    &__chartOptions {
      @include flex(row, center, center, wrap);
      li {
        padding: 6px 5px;
        div {
          border: 1px solid $primary-color;
          color: $primary-color;
          cursor: pointer;
          max-width: 250px;
          padding: 8px 10px;
        }
        &.active {
          div {
            border-color: $primary-color;
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
  }
  @include device-md {
    &__section {
      border-color: $border-color-soft;
      &__chartOptions {
        @include flex(row, flex-end, center, wrap);
      }
    }
    &__activatedSubmenuText {
      display: none;
    }
  }
}
