<ng-container *ngIf="page$ | async as page; else emptyPage">
  <div class="page__section" *ngFor="let section of page.secciones; let sectionIndex = index">
    <ng-container *ngIf="sectionIndex === 0">
      <h2 class="page__activatedSubmenuText" *ngIf="activatedSubmenu$ | async as activatedSubmenu">
        {{ activatedSubmenu.textoMenu }}
      </h2>
    </ng-container>
    <h2 class="page__section__title">{{ section.titulo }}</h2>
    <app-menu-select *ngIf="sectionIndex === 0 && (['xs', 'sm', 'md'] | checkMedia)"></app-menu-select>
    <ng-container *ngIf="showMapaEstrategicoMensaje">
      <p class="page__section__content">
        {{ mensajeMapaEstrategico }}
      </p>
      <br />
    </ng-container>
    <p *ngIf="mustContentSectionShowInTop(sectionIndex)" class="page__section__content"
      [innerHTML]="section.contenido | htmlFromMarkup"></p>
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="!section.tipoGrafico || section.tipoGrafico === 'imagen'">
        <div class="page__section__image" *ngIf="section.imagen">
          <img [src]="section.imagen?.url | prependBackendurl" alt="" />
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="section.tipoGrafico === 'graficoSpreadsheet'">
        <app-responsive-spreadsheet-chart *ngIf="section.graficoSpreadsheetUrl; else notFoundChart"
          [googleSpreadsheetChartUrl]="section.graficoSpreadsheetUrl"></app-responsive-spreadsheet-chart>
      </ng-container>
      <ng-container *ngSwitchCase="section.tipoGrafico === 'graficoSpreadsheetMultiple'">
        <ng-container *ngFor="let grafico of section.graficos">
          <ng-container *ngIf="grafico.nombre === activeSpreadsheetNombre">
            <app-responsive-spreadsheet-chart *ngIf="grafico.url; else notFoundChart"
              [googleSpreadsheetChartUrl]="grafico.url"></app-responsive-spreadsheet-chart>
          </ng-container>
        </ng-container>
        <div class="spacer-30"></div>
        <ul class="page__section__chartOptions">
          <li *ngFor="let grafico of section.graficos" [class.active]="grafico.nombre === activeSpreadsheetNombre"
            (click)="activeSpreadsheetNombre = grafico.nombre">
            <div>
              {{ grafico.nombre }}
            </div>
          </li>
        </ul>
      </ng-container>
    </ng-container>
    <p *ngIf="!mustContentSectionShowInTop(sectionIndex)" class="page__section__content"
      [innerHTML]="section.contenido | htmlFromMarkup"></p>
    <app-strategic-committee *ngIf="showComittee"></app-strategic-committee>
    <app-key-documents *ngIf="showDocumentosClave"></app-key-documents>
    <ng-container *ngIf="isPortafolioDesafios">
      <div class="spacer-20"></div>
      <app-challenges-table></app-challenges-table>
    </ng-container>
    <ng-container *ngIf="isMacroproyectos">
      <div class="spacer-20"></div>
      <app-macroproyectos-table></app-macroproyectos-table>
    </ng-container>
    <!--<ng-container *ngIf="isProyectosAnualesAvance">
      <div class="spacer-20"></div>
      <app-avances-table></app-avances-table>
    </ng-container>-->
    <ng-container *ngIf="
        (sectionIndex === 0 && section.tipoGrafico === 'graficoSpreadsheet') ||
        section.tipoGrafico === 'graficoSpreadsheetMultiple'
      ">
      <br />
      <p class="text-right text-italic" *ngIf="!isProyectosAnualesAvance && !isProyectosAnualesPortafolio">
        {{ section.fuente || "Fuente por enviar" }}
      </p>
    </ng-container>
    <ng-container *ngIf="titulosSeccionFichaTecnica.includes(section.titulo)">
      <app-ficha-tecnica-trigger [fichaTecnica]="page.fichastenica"></app-ficha-tecnica-trigger>
    </ng-container>
    <ng-container *ngIf="titulosSeccionAvancesProyectos.includes(section.titulo)">
      <ul>
        <li class="mt-10" *ngFor="let avance of page.avancesproyectos">
          <div class="flex-row-layout">
            <span>-{{ " " }}&nbsp;&nbsp;&nbsp;</span>
            <p style="display: inline" [innerHTML]="avance.descripcion | htmlFromMarkup"></p>
          </div>
          <div class="flex-row-layout jc-flex-end">
            <a [routerLink]="proyectosAnualesAvanceUrl" [queryParams]="{ pId: avance.proyecto }"><span
                class="text-italic">Ver avance del proyecto</span></a>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
  <app-challenges-select-and-description *ngIf="isPortafolioDesafios" [tipoProyecto]="'desafio'"
    [selectPlaceholder]="'Seleccione desafío'">
  </app-challenges-select-and-description>
  <app-challenges-select-and-description *ngIf="isMacroproyectos" [tipoProyecto]="'estrategico:macroproyecto'"
    [selectPlaceholder]="'Seleccione proyecto'">
  </app-challenges-select-and-description>
  <!--<app-challenges-select-and-description *ngIf="isProyectosAnualesPortafolio" [tipoProyecto]="'estrategico:anual'"
    [selectPlaceholder]="'Seleccione proyecto'">
  </app-challenges-select-and-description>-->
</ng-container>
<ng-template #emptyPage>
  <div class="page__section">
    No hay página asociada :(
  </div>
</ng-template>
<ng-template #notFoundChart>
  <div class="notFoundChart">
    <img src="/assets/images/chart_not_found.svg" alt="" />
  </div>
</ng-template>