@import "../../../../../styles/1-settings/index";
@import "../../../../../styles/2-tools/index";

.login {
  line-height: 1.4;
  padding-top: 15vh;
  padding-bottom: 10vh;
  input {
    margin-bottom: 12px;
    max-width: 250px;
    width: 100%;
  }
  button {
    border: 1px solid #000;
  }
  &__title {
    font-size: 1.2em;
    font-weight: bold;
  }
  &__subtitle {
  }
  &__content {
    margin: 0 auto;
    max-width: 250px;
  }
  @include device-md {
    font-size: 1.2em;
    input {
      max-width: 360px;
    }
    &__content {
      max-width: 900px;
    }
    &__title {
      font-size: 1.4em;
    }
  }
}
