<div class="login">
  <form class="login__content" (submit)="login()">
    <div class="login__title text-center">
      Iniciar sesión
    </div>
    <p class="login__subtitle text-center">
      Ingresa tus datos para iniciar sesión
    </p>
    <div class="spacer-20"></div>
    <div [formGroup]="loginFG">
      <div class="text-center">
        <input
          type="text"
          formControlName="email"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="text-center">
        <input
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
      </div>
    </div>
    <div class="spacer-20"></div>
    <p class="text-center">
      ¿Olvidaste tu contraseña o deseas registrarte?
    </p>
    <p class="text-center">
      Escríbenos a:
      <a [href]="'mailto:' + contactEmail" class="app-link">{{
        contactEmail
      }}</a>
    </p>
    <div class="spacer-15"></div>
    <div class="text-center">
      <button>
        Iniciar sesión
      </button>
    </div>
    <div class="spacer-25"></div>
    <ng-container *ngIf="sessionQuery.selectError() | async as error">
      <p class="text-center text-warn">
        Correo o contraseña incorrectos.<br />
        Ingrese nuevamente
      </p>
    </ng-container>
  </form>
</div>
