@import "../../../../../styles/1-settings/colors.scss";

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  th,
  td {
    border: 1px solid #000;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
  }
  thead {
    th {
      background-color: $primary-color;
      color: #fff;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: rgba(#000, 0.05);
      }
      td:nth-child(6) {
        background-color: #cfe2f1;
      }
    }
  }
}
