<div style="overflow-x: auto;">
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Responsable</th>
        <th>Impacto<br />(1 - 10)</th>
        <th>Complejidad<br />(1 - 10)</th>
        <th>Promedio</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos$ | async" class="c-pointer"
        (click)="proyectosStore.setActive(proyecto.id); scrollToProyect()">
        <td>{{ proyecto.codigo }}</td>
        <td>{{ proyecto.nombre }}</td>
        <td>{{ proyecto.responsable }}</td>
        <td>{{ proyecto.impacto | number: "1.2-2" }}</td>
        <td>{{ proyecto.complejidad | number: "1.2-2" }}</td>
        <td>{{ proyecto.promedio | number: "1.2-2" }}</td>
        <td>{{ proyecto.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>