$bp-mobile: 480px;
$bp-tablet: 600px;
$bp-laptop: 960px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1920px;

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 770px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
