$namespace: "app";
$font-size: 14px;
$font-mobile-size: 14.5px;
$font-myriadpro: "MyriadPro";
$font-gotham: "Gotham";
$font-roboto: "Roboto";
$font-primary: $font-myriadpro;
$assetsUrl: "/assets/";

$header-mobile-height: 80px;
$header-mobile-padding: 15px 30px;
$header-mobile-content-height: 50px;
$navbar-mobile-height: 75px;
$navbar-mobile-menu-area-max-height: calc(
  100vh - #{$navbar-mobile-height} - #{$header-mobile-height}
);
$principal-mobile-height: calc(
  100vh - #{$header-mobile-height} - #{$navbar-mobile-height}
);

$header-height: 100px;
$header-padding: 15px 30px;
$header-content-height: 70px;
$header-content-max-width: 1000px;
$navbar-height: 80px;
$navbar-content-max-width: calc(#{$header-content-max-width} + 250px);
$principal-height: calc(100vh - #{$header-height});
$principal-swiper-bullet-size: 12px;
$menu-aside-width: 280px;
$statistics-max-width: 1000px;

$border-color-soft: rgba(0, 0, 0, 0.4);
