<div class="footer">
  <div class="footer__content">
    <div class="footer__title">
      CONTACTO
    </div>
    <div class="flex-row-layout ai-center footer__contact">
      <img src="/assets/images/icons/icon_footer_email.png" alt="" />
      <span>&nbsp;&nbsp;{{ contactInfo?.email?.valor || "no value" }}</span>
    </div>
    <div class="flex-row-layout ai-center footer__contact">
      <img src="/assets/images/icons/icon_footer_phone.png" alt="" />
      <span>&nbsp;&nbsp;{{ contactInfo?.phone?.valor || "no value" }}</span>
    </div>
    <div class="spacer-30"></div>
    <p class="text-center footer__rights">
      PUCP GESTIÓN 2019. TODOS LOS DERECHOS RESERVADOS.
    </p>
  </div>
</div>
