@import "../../../../styles/1-settings/index";
@import "../../../../styles/2-tools/index";

$font-size: 13px;

.footer {
  background-color: $tertiary-color;
  color: #8a8a8a;
  font-family: $font-gotham;
  padding: 30px 30px;
  text-align: center;
  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__title {
    font-size: 1.5em;
    margin-bottom: 35px;
    position: relative;
    &::after {
      background-color: currentColor;
      content: "";
      height: 4px;
      position: absolute;
      left: calc(50% - 25px);
      top: calc(100% + 5px);
      width: 50px;
    }
  }
  &__contact {
    font-size: $font-size;
    margin-bottom: 20px;
    @include justifyContent(center);
    img {
      height: 28px;
    }
  }
  &__rights {
    font-family: $font-myriadpro;
    font-size: 0.8em;
    letter-spacing: 3.2px;
    line-height: 1.3;
  }
  @include device-md {
    text-align: left;
    &__contact {
      @include justifyContent(flex-start);
    }
    &__title {
      &::after {
        left: 0;
      }
    }
    &__rights {
      font-size: $font-size;
    }
  }
}
