@import "reset.scss";
@import "normalize.scss";

@include font-face(
  $font-myriadpro,
  "/assets/fonts/MyriadPro/MyriadPro-Regular",
  400,
  normal,
  otf
);
@include font-face(
  $font-myriadpro,
  "/assets/fonts/MyriadPro/MyriadPro-It",
  400,
  italic,
  otf
);
@include font-face(
  $font-gotham,
  "/assets/fonts/Gotham/GothamBold",
  600,
  normal,
  ttf
);

body {
  font-size: $font-mobile-size;
  font-family: $font-primary;
  line-height: 1.2;
  @include device-specific-point(600px) {
    font-size: 17px;
  }
  @include device-md {
    font-size: $font-size;
  }
}

* {
  box-sizing: border-box;
  &:active,
  &:focus {
    outline: none;
  }
}
