<div style="overflow-x: auto;">
  <table class="fill-width">
    <thead>
      <tr>
        <th>Cod</th>
        <th>Nombre</th>
        <th>% Avance</th>
        <th *ngFor="let annio of annios$ | async">
          {{ annio.valor }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let proyecto of proyectos$ | async"
        (click)="
          proyectosStore.setActive(proyecto.id); events.scrollIntoProject.emit()
        "
      >
        <td>
          {{ proyecto.codigo }}
        </td>
        <td>
          {{ proyecto.nombre }}
        </td>
        <td>{{ proyecto.porcentajeAvance | number: "1.0-0" }} %</td>
        <td
          *ngFor="let annio of annios$ | async"
          [class.validYear]="annio.valor | validYearForProject: proyecto"
        ></td>
      </tr>
    </tbody>
  </table>
</div>
