@import "background";
@import "border";
@import "display";
@import "keyboard";
@import "margin";
@import "padding";
@import "position";
@import "shadow";
@import "size";
@import "text";
@import "visibilty";

.change-password-dialog {
  max-width: 100vw !important;
  width: 85%;
  @include device-md {
    width: auto;
  }
}
