.no-margin {
  margin: 0 !important;
}

.no-collapse-margin {
  display: inline-block;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@for $i from 0 through 20 {
  .m-#{$i*5} {
    margin: #{$i * 5}px !important;
  }
  .mt-#{$i*5} {
    margin-top: #{$i * 5}px !important;
  }
  .mb-#{$i*5} {
    margin-bottom: #{$i * 5}px !important;
  }
  .ml-#{$i*5} {
    margin-left: #{$i * 5}px !important;
  }
  .mr-#{$i*5} {
    margin-right: #{$i * 5}px !important;
  }
  .mx-#{$i*5} {
    margin-left: #{$i * 5}px !important;
    margin-right: #{$i * 5}px !important;
  }
  .my-#{$i*5} {
    margin-bottom: #{$i * 5}px !important;
    margin-top: #{$i * 5}px !important;
  }
}
