.no-padding {
  padding: 0 !important;
}

@for $i from 0 through 20 {
  .p-#{$i*5} {
    padding: #{$i * 5}px !important;
  }
  .pt-#{$i*5} {
    padding-top: #{$i * 5}px !important;
  }
  .pb-#{$i*5} {
    padding-bottom: #{$i * 5}px !important;
  }
  .pl-#{$i*5} {
    padding-left: #{$i * 5}px !important;
  }
  .pr-#{$i*5} {
    padding-right: #{$i * 5}px !important;
  }
  .px-#{$i*5} {
    padding-left: #{$i * 5}px !important;
    padding-right: #{$i * 5}px !important;
  }
  .py-#{$i*5} {
    padding-bottom: #{$i * 5}px !important;
    padding-top: #{$i * 5}px !important;
  }
}
