.fill-parent {
  height: 100%;
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable {
  overflow: auto;
}
