.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: $primary-color !important;
}

.text-accent {
  color: $accent-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-muted {
  color: rgba(#fff, 0.6);
}

.text-bold {
  font-weight: bold;
}

.text-thin {
  font-weight: 100;
}

.text-black {
  color: $black !important;
}

.text-white {
  color: #fff;
}

.text-no-decoration {
  text-decoration: none;
}

.text-gotham {
  font-family: $font-gotham;
}

.text-italic {
  font-style: italic;
}

.text-warn {
  color: $warn-color;
}
