button:not(.iziToast-close) {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  min-width: 150px;
  padding: 8px 10px;
  text-transform: inherit;
  &:active,
  &:focus {
    outline: none;
  }
}
