@import "../../../../../styles/1-settings/index.scss";
@import "../../../../../styles/2-tools/index.scss";

.menu-aside {
  display: none;
  @include device-md {
    display: block;
    width: $menu-aside-width;
    &__submenus {
      > ul {
        color: $primary-color;
        line-height: 1.2;
        > li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
    &__submenu {
      border: 1px solid $border-color-soft;
      cursor: pointer;
      min-height: 60px;
      padding: 10px 15px;
      @include flex(row, flex-start, center);
      span {
        padding-right: 15px;
        @include flexFlex();
      }
      img {
        width: 12px;
      }
      &.active {
        background-color: $primary-color;
        color: #fff;
        img {
          @include filter2(brightness(0) invert(1));
        }
      }
    }
    &__submenus2 {
      margin-bottom: 20px;
      padding-left: 20px;
      margin-top: 10px;
      ul {
        li {
          margin: 12px 0;
          a {
            position: relative;
            &.active {
              color: $accent-color;
            }
            &::after {
              background-color: $accent-color;
              content: "";
              height: 7px;
              left: -15px;
              position: absolute;
              width: 7px;
              top: 40%;
              @include transform(translateY(-50%));
            }
          }
        }
      }
    }
  }
}
