<div class="menu-aside">
  <div class="menu-aside__submenus">
    <ul>
      <li *ngFor="let submenu of submenus">
        <a
          (click)="
            submenusOpenMap[submenu.codigo] = !submenusOpenMap[submenu.codigo]
          "
          class="menu-aside__submenu"
          [menuCode]="submenu.codigo"
          [menuCodeType]="'submenu'"
          [routerLink]="
            '/estadisticas/' + activatedMenuCode + '/' + submenu.codigo
          "
        >
          <span>
            {{ submenu.textoMenu }}
          </span>
          <img src="/assets/images/icons/icon_arrow_right.svg" alt="" />
        </a>
        <div
          class="menu-aside__submenus2"
          *ngIf="
            submenusOpenMap[submenu.codigo] &&
            submenus2Map[submenu.codigo] &&
            submenus2Map[submenu.codigo].length > 0
          "
        >
          <ul>
            <li *ngFor="let submenu2 of submenus2Map[submenu.codigo]">
              <a
                class="menu-aside__submenu2"
                [menuCode]="submenu2.codigo"
                [menuCodeType]="'submenu2'"
                [routerLink]="
                  '/estadisticas/' +
                  activatedMenuCode +
                  '/' +
                  submenu.codigo +
                  '/' +
                  submenu2.codigo
                "
              >
                <span>
                  {{ submenu2.textoMenu }}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
