@import "../../../../../styles/1-settings/colors.scss";
@import "../../../../../styles/2-tools/index.scss";

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  th,
  td {
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
  }
  thead {
    th {
      background-color: #d1444a;
      color: #fff;
    }
  }
  tbody {
    td {
      height: 50px;
    }
    tr {
      &.active {
        td {
          background-color: #ece6e6;
        }
      }
    }
  }
  .avanceBarCell {
    padding: 0;
    border-right: none;
    border-left: 2px solid #000;
  }
  .avanceBarContainer {
    position: relative;
    @include layoutFlex();
  }
  .avanceBar {
    background: -prefix-linear-gradient(top, #fec6c7, #f56973, #d1444a);
    background: linear-gradient(to bottom, #fec6c7, #f56973, #d1444a);
    height: 30px;
    left: 0;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    span {
      color: #fff;
      position: absolute;
      right: 6px;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
  .avanceGuide {
    height: 100%;
    border-right: 1px dashed #000;
  }
  .avanceGuidesExtra {
    padding: 0px;
    width: 10px;
  }
}
