<div style="overflow-x: auto;">
  <table class="fill-width">
    <thead>
      <tr>
        <th>Cod</th>
        <th>Nombre</th>
        <th>% Avance</th>
        <th class="avanceGuidesExtra"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let proyecto of proyectos$ | async"
        [class.active]="(selectedProjectId$ | async) === proyecto.id"
      >
        <td>
          {{ proyecto.codigo }}
        </td>
        <td>
          {{ proyecto.nombre }}
        </td>
        <!-- <td>{{ proyecto.porcentajeAvance | number: "1.0-0" }} %</td> -->
        <td class="avanceBarCell">
          <div class="avanceBarContainer fill-height">
            <div
              class="avanceBar"
              [style.width]="proyecto.porcentajeAvance + '%'"
            >
              <span>{{ proyecto.porcentajeAvance | number: "1.0-0" }}%</span>
            </div>
            <div
              class="avanceGuide"
              *ngFor="let guide of avanceGuides"
              [style.width]="100 / avanceGuides.length + '%'"
            ></div>
          </div>
        </td>
        <td class="avanceGuidesExtra"></td>
      </tr>
    </tbody>
  </table>
</div>
