@import "../../../../../styles//1-settings/index.scss";
@import "../../../../../styles//2-tools/index.scss";

.principal {
  height: $principal-mobile-height;
  swiper {
    height: 100%;
    .swiper-slide {
    }
    .swiper-pagination {
      bottom: 20px;
    }
    ::ng-deep .swiper-pagination-bullet {
      background-color: transparent;
      border: 1px solid #fff;
      width: $principal-swiper-bullet-size;
      height: $principal-swiper-bullet-size;
      @include borderRadius(50%);
      @include opacity(1);
      &.swiper-pagination-bullet-active {
        background-color: #fff;
      }
    }
  }
  &__slide {
    &__bg {
      bottom: 0;
      display: none;
      left: 0;
      position: absolute;
      background-position: center;
      background-size: cover;
      right: 0;
      top: 0;
      &--mobile {
        display: block;
      }
    }
    &__content {
      color: #fff;
      font-family: $font-gotham;
      padding: 0 20px;
      position: relative;
      text-align: center;
      width: 100%;
    }
    &__text {
      font-size: 1.2em;
      line-height: 1.3;
      text-transform: uppercase;
      white-space: pre-line;
      width: 37%;
      margin: 0 auto;
    }
    &__img img {
      width: 180px;
    }
    &__btn {
      background: #ff4343;

      font-size: 1.1em;
      min-width: 150px;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
  @include device-md {
    height: $principal-height;
    &__slide {
      &__bg {
        display: block;
        &--mobile {
          display: none;
        }
      }
      &__content {
      }
      &__text {
        font-size: 2em;
        letter-spacing: 1.2;
      }
      &__img img {
        width: 250px;
      }
      &__btn {
        font-size: 1.1em;
      }
    }
  }
}
