<div class="principal">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide flex-col-layout ai-center jc-center"
        *ngFor="let slide of slides$ | async"
      >
        <div
          class="principal__slide__bg principal__slide__bg--mobile"
          [style.background-image]="
            slide.imagenFondoMobile?.url || slide.imagenFondo?.url
              | sanitizeStyleUrl
          "
        ></div>
        <div
          class="principal__slide__bg"
          [style.background-image]="slide.imagenFondo?.url | sanitizeStyleUrl"
        ></div>
        <div class="principal__slide__content">
          <ng-container [ngSwitch]="true">
            <div
              class="principal__slide__text"
              *ngSwitchCase="!slide.contenidoImagen"
            >
              {{ slide.contenido }}
            </div>
            <div
              class="principal__slide__img"
              *ngSwitchCase="!!slide.contenidoImagen"
            >
              <img
                [src]="slide.contenidoImagen.url | prependBackendurl"
                alt=""
              />
            </div>
          </ng-container>
          <div class="spacer-40"></div>
          <button class="principal__slide__btn">
            {{ slide.textoBoton }}
          </button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
</div>
